<!-- functionality to allow users to add reviews on each art piece, 
will include as save-able so user can see previous reviews -->

{% extends "base.html" %} {% block title %}Art Reviews{% endblock %} {% block content%}
    <br />
    <h1 align="center">Review</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick ="deleteNote('{{note.id}}')">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Review</button>
      </div>
    </form>
    {% endblock %}