body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
  }
  
  #artworkList {
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 80px;
    padding: 20px;
  }
  
  .artwork {
    border: 1px solid gold;
    padding: 35px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .artwork h2 {
    margin: 0;
  }
  
  .artwork p {
    margin: 5px 0;
  }
  
  .artwork img {
    max-width: 100%;
  }
  